nav ul li {
  padding-left: 10px;
  padding-right: 10px;
}

nav ul {
  padding-left: 45px;
}

.homepage {
  
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
}

.homepage h1 {
  text-align: center;
  color: white;
  padding-top: 285px;
  font-family: sans-serif;
  font-size: 68px;
  text-shadow: 2px 2px 2px black;
}

.homepage p {
  text-align: center;
  color: white;
  font-size: 28px;
  font-family: sans-serif;
}

#about .col-4 {
  width: 400px;
  padding-top: 75px;
}

.container-fluid {
  padding-left: 168px;
  padding-right: 174px;
}

.card-body {
  background-color: rgb(242, 240, 240);
}

.card-body .btn {
  width: 155px;
}

.card-title {
  padding-top: 20px;
}

.card-body .buttons {
  text-align: center;
}

.card-body .headings {
  text-align: center;
}

#id_button {
  text-align: right;
}

#services {
  background-image: url(images/mountain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* height: 325px; */
}

#services #h1 {
  text-align: center;
  color: white;
  padding-top: 120px;
  font-family: sans-serif;
  font-size: 45px;
  text-shadow: 2px 2px 2px rgb(147, 144, 144);
}

#services #p {
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
}

#services_button {
  text-align: center;
  margin-top: -15px;
}

#contact-area {
  position: relative;
  width: 100%;
  height: 100%;
}

#contact-area::before {
  content: '';
  background-image: url(images/road.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#contact-area .container {
  display: flex;
  flex-direction: column;
  max-width: 750px;
}

.contact-section {
  height: 100%;
  padding-top: 80px;
  padding-bottom: 60px;
}

#contact-area h1 {
  font-size: 36px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 30px;
  text-shadow: 2px 2px #333;
}

#contact-area p {
  background: rgba(242, 242, 242, 0.4);
  border-radius: 5px;
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 20px 15px;
  text-align: center;
}

.contact-form {
  display: flex;
  justify-content: center;
}

.form-left {
  padding-right: 15px;
  width: 50%;
  display: flex;
  height: auto;
  flex-flow: column wrap;
}

.form-right {
  padding-left: 15px;
  margin-bottom: 15px;
  width: 50%;
  display: flex;
  height: auto;
  flex-flow: column wrap;
}

.form-control {
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 5px;
  border: none;
  background: rgba(242, 242, 242, 0.4);
  transition: ease-in-out 0.15s;
  outline: none;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba(102, 175, 233, 0.6);
}

input {
  margin-bottom: 15px;
}

input::placeholder,
textarea::placeholder {
  color: #000;
}

textarea {
  height: auto;
  resize: none;
  overflow: auto;
}

.form-right button {
  width: 30%;
  background: #262628;
  color: #fff;
  border-color: #ccc;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 10px;

  transition: all 0.3s ease;
  overflow: visible;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

.form-right button:hover {
  cursor: pointer;
  color: #262628;
  background: #ccc;
}


